[
  {strategy, [
    {port, 1234},
    {client_disconnect_timeout, 20}, % minutes
    {min_battle_field_length, 3},
    {max_battle_field_length, 10},
    % DB
    {db_host, "localhost"},
    {db_port, 5432},
    {db_name, "xglade"},
    {db_user, "xglade"},
    {db_password, "xglade"},
    % {db_port, 15432},
    % {db_user, "strategy"},
    % {db_password, "strategy"},
    {db_timeout, 10000}
  ]},

  {sasl, [
    {errlog_type, error}
  ]},

  {lager, [
    {colored, true},
  {lager_console_backend, [{level, info}, {formatter, lager_default_formatter},
  {formatter_config, [time, color, " [",severity,"] ", message, "\e[0m\r\n"]}]}
  ]}
].

